#contenedor{
    max-width: 100%;
    min-height: 100vh;
}

header {
    background-color: #f6861d;
    color: white;
    
    
}


nav{
    background-color: #f6861d; 
    text-align: right;
}

nav a{
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 6px;
}
.productos{
    margin: 11px;
}

#foto{
    float: left;
    margin: 10px;
    padding: 10px;  
}

#foto img{
    height: 150px;
    width: 150px;
}

#inicio{
    margin: 10px;
    padding: 10px;
    float: right;
    height: auto;
    width: auto;
}

aside h2{
    margin-top: 10px;
}

.carousel-inner{
    width: auto;
    margin-top: 20px;
    
}

#formulario{
    margin: 15px;
}

#items{
    margin: 12px;
}

.iconcarrito{
    width: 200px;
    height: 200px;
    float: right;
}

#titulo{
    font-size: 9vw;
    font-family: 'Times New Roman', Times, serif;
}